body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

section {
    padding: 20px;
}

button, input[type="submit"] {
    padding: 8px 15px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover, input[type="submit"]:hover {
    background-color: #005f73;
}

footer {
    background-color: #222;
    color: white;
    padding: 10px;
}
